<div class="container-fluid table-responsive table-wrapper-scroll-y my-custom-scrollbar mt-5">

  <h1 class="animated fadeIn mb-5">{{'list.title' | translate}}</h1>

  
    <div class="animated fadeIn">
      <label for="search" class="mr-1 font-weight-light"> {{'list.search' | translate}} </label>
      <input type="text" [(ngModel)]="filterUser" class="form-control  w-25 mb-4" />
    </div>
  
  

  <table class="table animated fadeIn">

    <thead class="thead-light">
      <tr>
        <th class="d-none d-sm-block" scope="col">{{'list.opt1' | translate}}</th>
        <th scope="col">{{'list.opt2' | translate}}</th>
        <th scope="col">{{'list.opt3' | translate}}</th>
        <th scope="col">{{'list.opt4' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter:filterUser; let i = index">
        <th class="d-none d-sm-block" scope="row">{{i + 1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.birthdate | date:'dd/MM/y'}}</td>
        <td>

          <button class="btn btn-primary mr-1"
                  (click)="editClick(user)">
            <i class="fas fa-user-edit"></i>
          </button>

          <button class="btn btn-danger mr-1"
                  (click)="deleteClick(user)">
            <i class="fa fa-trash"></i>
          </button>

        </td>
        
      </tr>
    </tbody>

  </table>
</div>

