<div class="container-fluid table-responsive table-wrapper-scroll-y my-custom-scrollbar mt-5">

  <h2 class="animated fadeIn">List of Users</h2>
  <hr>

  <table class="table animated fadeIn">

    <thead class="thead-light">
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Name</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.birthdate}}</td>
        <td>

          <button class="btn btn-primary mr-1"
                  (click)="editClick(user)">
            <i class="fas fa-user-edit"></i>
          </button>

          <button class="btn btn-danger mr-1"
                  (click)="deleteClick(user)">
            <i class="fa fa-trash"></i>
          </button>

        </td>
        
      </tr>
    </tbody>

  </table>
 
</div>

