//Translator
.flag-esp {
  background-image: url('../../../assets/img//esp.png');
  background-size: cover;
  background-color: #353B41;
  height: 26px;
  width: 30px;
  border: none;
}

.flag-uk {
  background-image: url('../../../assets/img/uk.png');
  background-size: cover;
  background-color: #353B41;
  height: 26px;
  width: 30px;
  border: none;
}