<div class="continer-fluid">

  <div class="container animated fadeIn">
  
    <form [formGroup]="userForm" (ngSubmit)="saveForm(userForm.value)">
      <h2 class="mb-4 mt-5 text-center">{{'form.title' | translate}}</h2>

      <div class="row flex-column mb-5">
        <div class="form-group">
          <label for="name">{{'form.name' | translate}}</label>
          <input class="form-control " type="text" id="name" formControlName="name" [class.is-invalid]="nameInvalid">
          <small *ngIf="nameInvalid" class="text-danger">{{'form.warning1' | translate}}</small>
        </div>
        <div class="form-group">
          <label for="birthdate">{{'form.birthdate' | translate}}</label>
          <input class="form-control " type="date" id="birthdate" name="birthdate" formControlName="birthdate" [class.is-invalid]="dateInvalid">
          <small *ngIf="dateInvalid" class="text-danger">{{'form.warning2' | translate}}</small>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1" type="submit" [disabled]="!userForm.valid">{{'form.btn1' | translate}}</button>
        <button class="btn btn-success" type="button" (click)="newUser()">{{'form.btn2' | translate}}</button>
      </div>
    </form>
  
  </div>

</div>
 
